
.card-body {
    padding: 0 200px 50px 10px;

}
.form-group input {
    
    outline:none;
} 
ul {
    display: flex;
    justify-content: space-evenly;
}
ul li i{
    font-size: 26px;
    color: red;
    }
footer .text-dark {
    font-size: 14px;
}
.text-dark i {
    margin-left: 20px;
}